{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user }}</title>
    <link rel="stylesheet" href="{% static 'questionbox/style.css' %}">
</head>

<body>
    <h2 class="header"> Welcome {{ user }}</h2>

    <div class="container">
        <div class="attempt">
            <span>Numbers of Attempt:</span><span class="att">{{ attempt }}</span>

        </div>
        <div class="score-history">
            Your Scores History
            {% for s in score %}
            <li> <span> </span> {{ s }}</li>
            {% endfor %}
        </div>
        <div class="highest-score">
            <h3>Your Highest Score</h3>
            <p><b>{{ highest_score }}</b></p>
            <h2>User's Remote Ip:</h2><span>{{ ip }}</span>
            <!-- <h4>Added Middleware :</h4><span>{{ middleware }}</span>
            <h4>After View Middle:</h4><span>{% if afterM %} {{ afterM }} {% else %} No {% endif %}</span> -->
        </div>
    </div>

    <a href="{% url 'question:home' %}" class="button">Back To Home</a>


</body>

</html>